---
- name: Simple Ubuntu Docker Container
  hosts: docker_hosts
  become: true
  
  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker service
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Run Ubuntu container
      docker_container:
        name: ubuntu-test
        image: ubuntu:latest
        state: started
        command: sleep infinity
        restart_policy: unless-stopped
